html {
    font-family: 'Noto Sans KR', sans-serif;
}
body {
    margin: 0;
}
div, section, header, footer, p, h1, h2 {
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}

.global-width {
    max-width: 70vw;
    margin: 0 auto;
    padding: 0 1rem;
}

.scroll-content > .scroll-graphic {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.scroll-content > .scroll-graphic > .graphic-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    will-change: opacity;
}
.scroll-content > .scroll-graphic > .graphic-item.visible {
    opacity: 1;
}

.scroll-content > .scroll-graphic > .graphic-item > .scene-img {
    max-height: 100vh;
}

.scroll-content > .scroll-text {
    position: relative;
    padding-bottom: 1px;
}

.scroll-content > .scroll-text > .step {
    font-family: bold, serif;
    font-size: 1.5rem;
    margin-top: 90vh;
    margin-bottom: 90vh;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
}
.scroll-content > .scroll-text > .step:nth-of-type(0) {
    margin-top: 10vh;
}

.scroll-content > .scroll-text > .step:nth-last-of-type(0) {
    margin-bottom: 10vh;
}

.bird {
    position: absolute;
    width: 8rem;
}

[data-index="2"] > .bird
{
    left: 0;
    bottom: 70%;
    transform: translateX(-100%);
    transition: 1.5s 0.2s linear;
}

[data-index="5"] > .bird {
    left: 30%;
    bottom: 30%;
    transform: translateX(-100%);
    transition: 5s 0.6s;
}

.global-footer {
    padding: 2rem 0;
    text-align: center;
}
