body {
  margin: 0;
  min-width: 768px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* side navbar */

#side-navbar {
  background-color: black;
  height: 100%;
  width: 250px;
  position: fixed;
}

/* 코드를 입력하세요! */
#side-navbar .logo {
  margin: 30px auto 50px auto;
  text-align: center;
}

#side-navbar .logo img {
  width: 136px;
}

#side-navbar .logo ul {
  padding-left: 22px;
}

#side-navbar .menu li {
  list-style: none;
  margin: 30px auto;
}

#side-navbar .menu a {
  text-decoration: none;
  color: white;
}

#side-navbar .divider {
  margin: 60px auto 25px auto;
  text-align: center;
  color: white;
  padding: 0 0;
  border: 1px solid white;
  width: 30px;
}

#side-navbar .sns {
  text-align: center;
  margin-top: 25px;
}

#side-navbar .sns a {
  margin: auto 13px;
}

#side-navbar .sns img {
  width: 25px;
}


/* main */

#main {
  margin-left: 250px;
}

#main .hero-header {
  text-align: center;
  background-image: url("https://bakey-api.codeit.kr/files/619/images/hero_header.jpg");
  background-size: cover;
  background-position: center center;
  height: 750px;
  line-height: 750px;
}

#main .info {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

#main h1 {
  margin: 0;
  margin-bottom: 40px;
  color: white;
  font-size: 38px;
}

#main a {
  padding: 10px 40px;
  border: 2px solid white;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
